<div id="tpl_header"></div>
<div class="container-fluid">
	<div class="row">
		<div id="tpl_sidebar"></div>

		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h1 class="h2">实时网速</h1>
			</div>
			<div id="prophet_realtime_network_list"></div>
			<script type="text/template" id="prophet_realtime_network_list_tpl">
				<div class="row">
					<% for (let x in obj) { %>
						<div class="col-xl-6 col-md-6 col-12 pb-2" tldata="<% obj[x].key %>" id="prophet_realtime_network_<% obj[x].key %>">
							<div class="card p-3 shadow-sm">
								<div class="font-weight-bold text-truncate" title="<% obj[x].name %>">
									<% obj[x].name %>
								</div>
								<div class="border-dashed"></div>
								<div id="realtime_charts_<% obj[x].key %>"></div>
							</div>
						</div>
					<% } %>
				</div>
			</script>
			<script type="text/template" id="prophet_realtime_network_chart_tpl">
				<% for (let x in obj) { %>
				<div>
					<h4><% obj[x].interface %></h4>
					<div id="layer_bytes_<% obj[x].interface %>_<% obj[x].key %>" class="chartUnit"></div>
					<div id="layer_packets_<% obj[x].interface %>_<% obj[x].key %>" class="chartUnit"></div>
				</div>
				<% } %>
			</script>
		</main>
	</div>
</div>
<div id="init_network"></div>